Source: ldapscripts
Section: admin
Priority: optional
Maintainer: Pierre Habouzit <madcoder@debian.org>
Standards-Version: 3.7.2
Build-Depends: cdbs, debhelper (>= 4.1.16)

Package: ldapscripts
Architecture: all
Depends: ${misc:Depends}, libpam-ldap, libnss-ldap, slapd, ldap-utils, sharutils
Description: Add and remove user and groups (stored in a ldap directory)
 Ldapscripts are shell scripts that allow to manage POSIX accounts (users,
 groups, machines) on an LDAP directory.   They are similar to smbldap-tools
 but are written in shellscript, not in PERL.
 .
 They only require OpenLDAP client commands (ldapadd, ldapdelete, ldapsearch,
 ldapmodify, slappasswd) and make administrator's work a lot easier avoiding
 him to configure PERL and each library dependencies (e.g. Net::LDAP).
 .
 These scripts are very simple to configure by not requiring any Samba-related
 information (SID, profiles, homes, ...) : management of Samba attributes is
 entirely done by standard commands (net, smbpasswd et pdbedit) used together
 with the scripts.   Moreover, most of the configuration is guessed from the
 one of libpam-ldap, and everything should work out from the box for most
 users.
 .
 The scripts may be used independently - within command lines - or
 automatically by Samba (like smbldap-tools), to handle POSIX information
 within accounts before adding Samba information.

